<% @title="Know Your Operating System" %>
<ol class="breadcrumb">
  <li><%= link_to "Home",home_index_url %></li>
  <li class="active"><%= @category.name %></li>
</ol>
<% @category.children.each do |category| %>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="Menu">
      <%= link_to image_tag(category.image, :alt => "Menu Image", :width=>"100%", :height=>"300px"), articlecategory_categories_path(category: category.name) %>
      <div class="Menu_Text">
        <%= category.name %>
      </div>
    </div>
  </div>
<% end %>
